<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting label="30000" id="region_index" type="enum" default="0" lvalues="30001|30002|30003|30004|30005|30006|30007|30008" />
    <setting label="30009" type="bool" id="use_substreams" default="true"/>
    <setting label="32023" type="bool" id="use_ia_hls" default="false" visible="eq(-1,false)"/>
    <setting label="32018" type="action" action="RunPlugin(plugin://$ID/?_=_ia_settings)" option="close" visible="eq(-1,true) + eq(-2,false)"/>
    <setting label="32021" type="action" action="RunPlugin(plugin://$ID/?_=_ia_install)" visible="false"/>
    <setting type="sep"/>
    <setting label="32019" type="action" action="RunPlugin(plugin://$ID/?_=_reset)"/>
    <setting id="_fresh" type="bool" visible="false" default="true"/>
</settings>